<a href="https://colab.research.google.com/github/PrishaTHE-PRO/P-131/blob/main/project_131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import files
uploaded = files.upload()

Saving P-131.csv to P-131.csv

In [15]:
import csv
import pandas as pd

df=pd.read_csv('P-131.csv')
headers = rows[0]
planet_data_rows = rows[1:]
print(headers)
df.head()

['', 'Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius', 'Unnamed: 5']

   Unnamed: 0       Star_name     Distance  Mass Radius
0           0             Sun  0.000015813   1.0      1
1           1          Sirius          8.6   2.1   1.71
2           2         Canopus          310  15.0     71
3           3  Alpha Centauri          4.4   1.1    1.2
4           4        Arcturus           37   1.1     26

In [14]:
df.columns

Index(['Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [13]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)
df.head()

KeyError: ignored

In [18]:
df['Radius']=df['Radius'].apply(lambda x:x.replace('$','').replace(',','')).astype('float')
radius=df['Radius'].tolist()
mass=df['Mass'].tolist()
def convert(radius,mass):
  for i in range(0,len(radius)-1):
    radius[i]=radius[i]*6.957e+8
    mass[i]=mass[i]*1.989e+30
convert(radius,mass)
df

     Unnamed: 0               Star_name     Distance       Mass     Radius
0             0                     Sun  0.000015813   1.000000   1.000000
1             1                  Sirius          8.6   2.100000   1.710000
2             2                 Canopus          310  15.000000  71.000000
3             3          Alpha Centauri          4.4   1.100000   1.200000
4             4                Arcturus           37   1.100000  26.000000
..          ...                     ...          ...        ...        ...
248         248  2MASSI J2356547-155310           74   0.076367   0.112012
249         249          WISE 0410+1502           20   0.005728   0.120233
250         250         WISE 0458+6434A         35.9   0.014319   0.431605
251         251         WISE 0458+6434B         35.9   0.009546   0.390499
252         252          WISE 1405+5534         25.3   0.028638   0.088376

[253 rows x 5 columns]

In [21]:
gravity=[]
def gravity_calculation(radius,mass):
  G=6.674e-11
  for i in range(0,len(mass)):
    g=(mass[i]*G)/((radius[i])**2)
    gravity.append(g)
gravity_calculation(radius,mass)
df

     Unnamed: 0               Star_name     Distance       Mass     Radius
0             0                     Sun  0.000015813   1.000000   1.000000
1             1                  Sirius          8.6   2.100000   1.710000
2             2                 Canopus          310  15.000000  71.000000
3             3          Alpha Centauri          4.4   1.100000   1.200000
4             4                Arcturus           37   1.100000  26.000000
..          ...                     ...          ...        ...        ...
248         248  2MASSI J2356547-155310           74   0.076367   0.112012
249         249          WISE 0410+1502           20   0.005728   0.120233
250         250         WISE 0458+6434A         35.9   0.014319   0.431605
251         251         WISE 0458+6434B         35.9   0.009546   0.390499
252         252          WISE 1405+5534         25.3   0.028638   0.088376

[253 rows x 5 columns]